#image(data-pos= pos || 'bottom')
  img(src= img || 'img/placeholder.jpg').img
  .caption.clearfix
    span.text= text || 'Post Text.'
    span(data-cat= cat || 'creativity').logo UsefulScience.org
  .stripe
