doctype html
html

  head

    title Useful Science Imagifier

    script(src='https://use.typekit.net/rtu2uzf.js')
    script.
      try { Typekit.load(); } catch (e) {}

    link(rel='stylesheet', href='css/styles.css')

  body

    block body
