doctype html
html

  head

    title Useful Science Imagifier
    base(href!=baseUrl)

    script(src='//use.typekit.net/rtu2uzf.js')
    script.
      try { Typekit.load(); } catch (e) {}

    link(rel='stylesheet', href='css/styles.css')

  body

    block body
