doctype html
html
  head
    title Image
    base(href!=baseUrl)
    link(rel='stylesheet', href='css/styles.css')
  body
    #preview
      img(src=img)
      .text
        .post= text
          .logo Useful Science
