extends html

block body

  .page-wrap.clearfix
    h1 Useful Science Imagifier

    .left
      h2 Options

      form(action='/image.jpg', method='get', target='_blank')

        fieldset
          label(for='img') Image URL
          input(type='url', name='img')#img

        fieldset
          label(for='text') Post Text
          textarea(name='text', rows='4', cols='50')#text

        fieldset
          label(for='color') Post Text Color
          select(name='color')#color
            option(value='black') Black
            option(value='white', selected) White

        fieldset
          label(for='cat') Logo Category Color
          select(name='cat')#cat
            option(value='creativity', selected) Creativity (red)
            option(value='education') Education (yellow)
            option(value='fitness') Fitness (light purple)
            option(value='happiness') Happiness (blue)
            option(value='health') Health (pink)
            option(value='nutrition') Nutrition (green)
            option(value='parenting') Parenting (light blue)
            option(value='persuasion') Persuasion (orange)
            option(value='productivity') Productivity (teal)
            option(value='sleep') Sleep (purple)

        fieldset
          label(for='pos') Caption Position
          select(name='pos')#pos
            option(value='top') Top
            option(value='bottom', selected) Bottom

        fieldset
          label(for='back') Caption Background Color
          select(name='back')#back
            option(value='black', selected) Black
            option(value='none') None

        button(type='submit')#imagify Imagify!

    .right
      h2 Preview

      include includes/image


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(src='js/scripts.js')
